asttokens==2.0.5
backcall==0.2.0
black==21.12b0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
decorator==5.1.1
executing==0.8.2
filelock==3.4.2
googledrivedownloader==0.4
huggingface-hub==0.4.0
idna==3.3
ipdb==0.13.9
ipython==8.0.0
isodate==0.6.1
jedi==0.18.1
jieba==0.42.1
Jinja2==3.0.3
joblib==1.1.0
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mypy-extensions==0.4.3
networkx==2.6.3
nltk==3.6.7
numpy==1.22.1
packaging==21.3
pandas==1.3.5
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
platformdirs==2.4.1
prompt-toolkit==3.0.24
ptyprocess==0.7.0
pure-eval==0.2.1
Pygments==2.11.2
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
rdflib==6.1.1
regex==2021.11.10
requests==2.27.1
sacremoses==0.0.47
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
stack-data==0.1.4
threadpoolctl==3.0.0
tokenizers==0.10.3
toml==0.10.2
tomli==1.2.3
torch==1.9.0+cu111
torch-geometric==2.0.3
torch-scatter==2.0.9
torch-sparse==0.6.12
torchaudio==0.9.0
torchvision==0.10.0+cu111
tqdm==4.62.3
traitlets==5.1.1
transformers==4.15.0
typing_extensions==4.0.1
urllib3==1.26.8
wcwidth==0.2.5
yacs==0.1.8
